<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Authentic Travel</title>
    <link rel="stylesheet" href="../static/newidea.css" />
  </head>
  <body id="body">
    <div class="content">
      <h1>Authentic Travel</h1>
      <div class="search-box">
        <input type="text" placeholder="Enter location" id="location-input" />
        <button id="search-button">Find Travel Tips</button>
      </div>
      <div id="results"></div>
    </div>
    <script src="../static/newidea.js"></script>
  </body>
</html>
