.button{
    width:150px;
    height: 50px;
    border:2px solid #3333ff;
    border-radius: 10px;
    background-color: #e6e6ff;
    top: 300px;
    right: 500px;
}

.button > p{
    text-align: center;
    font-family: avenir;
    font-weight: bold;
    text-decoration: none;
}

div:hover{
    background-color: #8080ff;
    color: #fff;
}

#link{
    text-decoration: none;
}