@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #000;
}

body {
  font-family: Montserrat;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  background-color: #101214;
  color: #fff;
  max-width: 62rem;
  align-items: center;
  margin: 0rem auto;
  padding: 2rem;
}

@media screen and (min-width: 600px) {
  body {
    grid-template-columns: repeat(6, 1fr);
  }
  .col6 {
    grid-column: span 6;
  }

  .col4 {
    grid-column: span 4;
  }

  .col3 {
    grid-column: span 3;
  }

  .col2 {
    grid-column: span 2;
  }

  .col1 {
    grid-column: span 1;
  }
}
@media screen and (max-width: 600px) {
  .pic {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
}

.col6 {
  border-top: 1px solid #999;
  padding-top: 2rem;
  margin-top: 1rem;
}

a {
  color: #7794cd;
  text-decoration: none;
  &:hover {
    color: #6682b3;
  }
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 1rem 0;
  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.center {
  text-align: center;
}

.top {
  align-self: start;
}

.pic {
  border-radius: 1rem;
  border: 2px solid #fff;
  object-fit: cover;
  max-height: 50vh;
}

.icon {
  background: white;
  border: 1px solid #fff;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  object-fit: cover;
  filter: invert(1);
}

.durham {
  filter: none;
}
