/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset some default styles for consistent rendering */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #101214;
  color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
}

a {
  color: #7794cd;
  text-decoration: none;
}

/* Section 1 */
.section-1 {
  padding: 8vh 0;
  text-align: center;
  margin-top: 14%;
  margin-left: 15%;
}

.section-1 p {
  font-size: 1.5rem;
  padding-bottom: 18px;
  margin: 0;
  color: #7A7C80;
}

.section-1 h2 {
  font-size: 8.5rem;
  margin-bottom: 12px;
  font-family: 'Jolly Lodger', cursive;
  font-family: 'League Spartan', sans-serif;
  color: #fff;
}

.section-1 a {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #7794cd;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.section-1 a:hover {
  background-color: #6682b3;
}

img.gradpic{
  max-width: 60%;
  aspect-ratio: 1/1.3;
  object-fit: cover;
  border: 3px solid #FFFF;
  border-radius: 20px;
  margin:auto;
  margin-top: 10%;
  margin-left: 12%;
}
@media (max-width: 768px) {
img.gradpic {
    width: 30%; /* Adjust the width for smaller screens */
    top: 20%; /* Adjust the top position for smaller screens */
    right: 5%; /* Adjust the right position for smaller screens */
}
}

/* Section 2 */
.section-2 {
  margin-top: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 5%; /* Adjust as needed */
}

.section-2 h2 {
  font-size: 3rem;
  margin-left: 40%;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Jolly Lodger', cursive;
  font-family: 'League Spartan', sans-serif;
}
.section-2 h3 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  color: #fff; 
}
.section-2 p {
  font-size: 1.25rem;
  padding-bottom: 10px;
  margin: 0;
  color: #7A7C80;
}
.section-2 img.durham{
  max-width: 20%;
  position: absolute;
  object-fit: cover;
  border: 3px solid #FFFF;
  border-radius: 20px;
  margin:auto;
  margin-top: -24%;
  margin-left: 60%;
}
@media (max-width: 768px) {
.section-2 img.durham {
    width: 15%; /* Adjust the width for smaller screens */
    top: 10%; /* Adjust the top position for smaller screens */
    right: 5%; /* Adjust the right position for smaller screens */
}
}

/* Section 3 */
.section-3 {
  margin-top: 10%;
  padding-top: 8vh;
  text-align: center;
}

.section-3 h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff; 
  font-family: 'Jolly Lodger', cursive;
  font-family: 'League Spartan', sans-serif;
}


.section-3 p {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0;
  color: #7A7C80;
}

.section-3 a {
  font-size: 1.7rem;
  padding: 10px;
  color: #7794cd;
  transition: color 0.3s ease;
}

.section-3 a:hover {
  color: #6682b3;
}


/* animations / utilities */
.section-3 a:hover{
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

.line1 {
  width: 352px;
  height: 67px;
  border-bottom: 21px solid white;
  top: 10%;
  right: 86%;
  -webkit-transform: translateY(20px) translateX(50px) rotate(135deg);
  position: absolute;
  /* top: -20px; */
}
.line2 {
  width: 372px;
  height: 47px;
  border-bottom: 10px solid white;
  top: 9%;
  right: 81%;
  -webkit-transform: translateY(20px) translateX(50px) rotate(135deg);
  position: absolute;
  /* top: -20px; */
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  margin: auto;
  margin-top: 10%;
  display: flex;
  position: relative;
  align-items: center;
  border:10px solid #FFFF;
    border-radius: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
  text-align: center;
  
}
.mySlides img {
  max-width: 90%;
  max-height:100%;
  object-fit: contain;
  text-align: center;
  margin:0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

.section-4 {
  margin-top: 5%;
  margin-left: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.section-4 h2 {
  font-size: 3rem;
  margin-left: 40%;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Jolly Lodger', cursive;
  font-family: 'League Spartan', sans-serif;
}
.section-4 h3 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  color: #7A7C80; 
  font-family: 'Jolly Lodger', cursive;
  font-family: 'League Spartan', sans-serif;
}