* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('/static/world.jpg') repeat;
    background-size: cover;
    background-position: center -180px; 
    color: #333;
    overflow-y: auto;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    top: 20vh; 
}

.results-shown .content {
    height: auto;
    justify-content: flex-start;
    align-items: stretch;
}

.content h1 {
    font-size: 4.5em;
    margin-bottom: 40px; 
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.subheading {
    color: #dddddd;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.subheading2 {
    color: #dddddd;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Input and Buttons */
.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

.input-container input {
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

#days-input {
    max-width: 100px;
    text-align: center;
}

.buttons-container {
    display: flex;
    margin-top: 10px; 
    justify-content: center;
    gap: 20px;
}

.search-box button {
    padding: 15px 25px;
    font-size: 1.25em;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#itinerary-button {
    background-color: #6a0dad;
    color: white;
    padding: 5px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#itinerary-button:hover {
    background-color: #a67ae5; 
    transform: scale(1.05);
}
#itinerary-output {
    font-size: 1.1em;
    color: #555;
    background: #e0f7fa; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-button {
    background-color: #ff6347;
}

#search-button:hover {
    background-color: #ff4500;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#food-button {
    background-color: #28a745;
}

#food-button:hover {
    background-color: #1c7c33;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#budget-button {
    background-color: #007bff;
}

#budget-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#results {
    margin-top: 30px;
}

#results ul {
    list-style: none;
    padding: 0;
}

#results li {
    margin: 15px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#results li a {
    text-decoration: none;
    color: #333;
    font-size: 1.25em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    transition: color 0.3s ease;
}

#results li a:hover {
    color: #007bff;
}

#results li p {
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
    color: #555;
}

.show-comments-btn, .show-post-btn {
    margin: 10px 5px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-comments-btn {
    background-color: #007bff;
    color: white;
}

.show-comments-btn:hover {
    background-color: #0056b3;
}

.show-post-btn {
    background-color: #28a745;
    color: white;
}

.show-post-btn:hover {
    background-color: #1c7c33;
}

.comment {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 15px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.comment:first-child {
    border-top: none;
}

#summary-container {
    margin-top: 20px;
    text-align: center;
    display: none; 
    margin-bottom: 20px;
}

#generate-summary {
    padding: 15px 25px;
    font-size: 1.25em;
    color: #fff;
    background-color: #006d77; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 10px;
}

#generate-summary:hover {
    background-color: #83c5be; 
    transform: scale(1.05);
}

#summary-output {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
    background: #e0f7fa; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    html, body {
        background-position: center -110px; 
    }
    .content {
        padding: 20px;
        top: 10vh; 
    }
    .input-container {
        flex-direction: column;
        gap: 10px;
    }
    .buttons-container {
        flex-direction: column;
        gap: 10px;
    }
}
