<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Authentic Travel</title>
    <link rel="stylesheet" href="/static/newidea.css" />
  </head>
  <body id="body">
    <div class="content">
      <h1>Authentic Adventures!</h1>
      <p class="subheading">
        Generate your own travel itinerary based on real traveler advice!
        Explore other tips on locations, food, and culture tailored for your
        destination!
      </p>
      <p class="subheading2">
        Explore other tips on locations, food, and culture tailored for your
        destination!
      </p>
      <div class="search-box">
        <div class="input-container">
          <input
            type="text"
            id="location-input"
            placeholder="Enter a location"
          />
          <input
            type="number"
            id="days-input"
            placeholder="# Days"
            min="1"
            max="20"
          />
          <button id="itinerary-button">Generate Itinerary</button>
        </div>
        <div class="buttons-container">
          <button id="search-button">Find Travel Tips</button>
          <button id="food-button">Find Food/Nightlife Tips</button>
          <button id="budget-button">Find Budget Tips</button>
        </div>
      </div>
      <div id="results"></div>
    </div>
    <script src="/static/newidea.js"></script>
  </body>
</html>
